.itemWrapper {
  flex-grow: 1;
  width: 33%;
  height: 200px;
  border: 1px solid;
  border-color: black;
  border-radius: 5px;
  background-color: white;
}

.itemWrapper:hover {
  background-color: lightgray;
}
